[submodule "apps/template-midnight-romance"]
	path = apps/template-midnight-romance
	url = https://github.com/invita-sin/template-midnight-romance.git
[submodule "apps/template-elegant"]
	path = apps/template-elegant
	url = https://github.com/invita-sin/template-elegant.git
[submodule "apps/template-minimalist"]
	path = apps/template-minimalist
	url = https://github.com/invita-sin/template-minimalist.git
[submodule "apps/template-floral"]
	path = apps/template-floral
	url = https://github.com/invita-sin/template-floral.git
